.advantages {
  margin-top: 120px;

  &__title-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-weight: 700;
    font-size: 72px;
    line-height: 92px;
    margin-bottom: 100px;
  }

  .mySwiper {
    .swiper-slide {
      .slide__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
        flex-direction: column;
        border-radius: 40px;
      }

      .slide__item {
        width: 400px;
        height: 480px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        transition: .3s ease;
      }

      &:nth-child(1) {
        .slide__content {
          border: 1px solid var(--swiper-color1);
          transition: .3s ease;

          &:hover {
            transition: .3s ease;
            background-color: var(--swiper-color1);
            -webkit-box-shadow: 0px 0px 45px 0px rgba(255, 107, 0, 1);
            -moz-box-shadow: 0px 0px 45px 0px rgba(255, 107, 0, 1);
            box-shadow: 0px 0px 45px 0px rgba(255, 107, 0, 1);
          }
        }
      }

      &:nth-child(2) {
        .slide__content {
          border: 1px solid var(--swiper-color2);
          transition: .3s ease;

          &:hover {
            transition: .3s ease;
            background-color: var(--swiper-color2);
            -webkit-box-shadow: 0px 0px 45px 0px rgba(20, 110, 245, 1);
            -moz-box-shadow: 0px 0px 45px 0px rgba(20, 110, 245, 1);
            box-shadow: 0px 0px 45px 0px rgba(20, 110, 245, 1);
          }
        }
      }

      &:nth-child(3) {
        .slide__content {
          border: 1px solid var(--swiper-color3);
          transition: .3s ease;

          &:hover {
            transition: .3s ease;
            background-color: var(--swiper-color3);
            -webkit-box-shadow: 0px 0px 45px 0px rgba(237, 82, 203, 1);
            -moz-box-shadow: 0px 0px 45px 0px rgba(237, 82, 203, 1);
            box-shadow: 0px 0px 45px 0px rgba(237, 82, 203, 1);
          }
        }
      }

      &:nth-child(4) {
        .slide__content {
          border: 1px solid var(--swiper-color4);
          transition: .3s ease;

          &:hover {
            transition: .3s ease;
            background-color: var(--swiper-color4);
            -webkit-box-shadow: 0px 0px 45px 0px rgba(130, 206, 142, 1);
            -moz-box-shadow: 0px 0px 45px 0px rgba(130, 206, 142, 1);
            box-shadow: 0px 0px 45px 0px rgba(130, 206, 142, 1);
          }
        }
      }

      &:nth-child(5) {
        .slide__content {
          border: 1px solid var(--swiper-color5);
          transition: .3s ease;

          &:hover {
            transition: .3s ease;
            background-color: var(--swiper-color5);
            -webkit-box-shadow: 0px 0px 45px 0px rgba(204, 51, 59, 1);
            -moz-box-shadow: 0px 0px 45px 0px rgba(204, 51, 59, 1);
            box-shadow: 0px 0px 45px 0px rgba(204, 51, 59, 1);
          }
        }
      }

      .slide__title {
        font-weight: 700;
        font-size: 38px;
        line-height: 42px;
        margin-bottom: 30px;
      }

      .slide__text {
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 20px;
      }
    }
  }
}

.price-toggle {
  button {
    padding: 15px 50px;
    border-radius: var(--border-radius);
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      transition: all .3s;
      background-color: var(--first-color);
      -webkit-box-shadow: 0px 0px 30px 0px rgba(20, 110, 245, 1);
      -moz-box-shadow: 0px 0px 30px 0px rgba(20, 110, 245, 1);
      box-shadow: 0px 0px 30px 0px rgba(20, 110, 245, 1);
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--white);
  width: 20px;
  height: 20px;
  transition: all 0.3s ease;

  &:hover {
    transition: all 0.3s ease;
    color: var(--first-color);
  }

  &::after {
    font-size: 22px;
  }
}

@media screen and (max-width: 1200px) {
  .slide__content {
    display: none;
  }
}