.header__list {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 44%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 12px 28px;
  gap: 12px;
  top: 80%;
  border-radius: var(--border-radius);
  backdrop-filter: blur(15px);

  .header__img {
    transition: .3s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }
}

@media screen and (max-width: 996px) {
  .header__list {
    left: 40%;
  }
}

@media screen and (max-width: 768px) {
  .header__list {
    left: 35%;
  }
}

@media screen and (max-width: 480px) {
  .header__list {
    left: 28%;
  }
}