.footer {
  margin-top: 120px;
  padding-top: 100px;
  padding-bottom: 50px;
  background: var(--white);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    display: flex;
    gap: 20px;
  }

  &__text {
    color: var(--black);
    text-align: center;
    margin-top: 80px;
    font-size: 18px;
    line-height: 22px;
  }

  .logo {
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;
    color: var(--black);
  }
}

@media screen and (max-width: 992px) {
  .footer__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .footer__social-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 420px) {
  .footer__social-img {
    display: none;
  }
}