:root {
  //container
  --containerWidth: 1420px;
  --containerPadding: 20px;

  //  color
  --black: #000000;
  --white: #ffffff;
  --background-color: #0F0F0F;
  --background-color-second: #171717;
  --first-color: #146EF5;
  --second-color: #5E5E5E;
  --circle-blue: #2297F3;
  --circle-orange: #F17D20;
  --circle-yellow: #FFB400;

  --border-radius: 15px;
  --font: 'Nunito', sans-serif;
}