* {
  padding: 0;
  margin: 0;
  border: 0;
}

:before, :after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

:root {
  --containerWidth: 1420px;
  --containerPadding: 20px;
  --black: #000000;
  --white: #ffffff;
  --background-color: #080808;
  --first-color: #146EF5;
  --second-color: #171717;
  --thrid-color: #1c4dc8;
  --swiper-color1: #ff6b00;
  --swiper-color2: #146ef5;
  --swiper-color3: #ed52cb;
  --swiper-color4: #82ce8e;
  --swiper-color5: #cc333b;
  --border-radius: 10px;
}

@font-face {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../assets/fonts/Nunito-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../assets/fonts/Nunito-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../assets/fonts/Nunito-Bold.woff2") format("woff2");
}
body {
  font-family: "Nunito", sans-serif;
  background: var(--background-color);
}

a, p, h1, h2, h3, h4, h5, h6, span, li {
  color: var(--white);
}

a, p {
  font-size: clamp(16px, 1vw, 20px);
}

h1, h2, h3, h4, h5, h6 {
  font-size: clamp(32px, 5vw, 72px);
}

span, li {
  font-size: clamp(18px, 2vw, 36px);
}

.container {
  max-width: var(--containerWidth);
  padding: 0 var(--containerPadding);
  align-items: center;
  margin: 0 auto;
}
